
#rules{
   margin-bottom: 5%; 
}
.img-back{
   background: var(--main-background-deg);
   background-position: center;
   background-size: cover;
  }

.rules{
color: #f2f2f2;

}

section ul li.whited-list{
color: #f2f2f2;
}
