<section id="rules" class="img-back">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" id="rules">
          <h2 class="section-heading text-center rules">Reglas</h2>
          <!-- <h3 class="section-subheading text-muted"></h3> -->
          <ul>
            <li class="whited-list">1. Selecciona el tiempo de qué dispones para tu escrito. ( 5 minutos | 15 minutos | Ilimitado)</li>
            <li class="whited-list">2. Regístrate como autor.</li>
            <li class="whited-list" >3. Acepta la propuesta de escritura. Dispones de 2 propuestas / ejercicio.</li>
            <li class="whited-list">4. Tras publicar tu relato tendrás un tiempo de corrección.</li>
            <li class="whited-list">5. Si es tu deseo, comparte tu obra con quien desees o envíalo para ser valorado por expertos.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>