<section id="rules" class="img-back">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" id="rules">
          <h2 class="section-heading text-center rules">¿Qué puedes aprender con nosotros?</h2>
          <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="../../assets/img/imagen-selector.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">A escribir relatos de una forma fácil y sencilla</h5>
                  <p class="card-text">Nuestro método permite <span class="resaltar">desarrollar la imaginación </span>en base a repositorio de propuestas muy flexibles sobre las que idear tus relatos.</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/img/tip-1add.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">A desarrollar tu imaginación y creatividad</h5>
                  <p class="card-text">Estarás escribiendo en tiempo record. Con nuestro método dejarás atrás el miedo al folio en blanco. <span class="resaltar">Nuestro completo sistema de propuestas</span> sirven como trampolin para que te lances a escribir!</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/img/imagendashboard.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> A utilizar eficazmente las Técnicas de Escritura Creativa</h5>
                  <p class="card-text">A escribir se aprende. Con tiempo y dedicación. Con <span class="resaltar">Become a Writer </span>te enseñaremos las técnicas mas increibles para aprender a escribir tus propias historias. </p>
                </div>
    
              </div>
            </div>
            <div class="intro-text">
            <div class="hero-button">
                <a class="btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['register']">¡EMPEZAR YA!</a>
              </div>
              </div>
        </div>
      </div>
    </div>


  </section>