#map{
   padding-bottom: 5%;
}
agm-map {
   height: 400px;
   width: 100%;
  
 }
.mapping{
  border-radius: 6px;
  border: 4px solid #f2f2f2;
 }
.back-deg{
   background: var(--main-background-deg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.rules{
   color: #f2f2f2;
}
