<section id="map" class="back-deg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
          <h2 class="section-heading text-center rules">World "Becomers" Map</h2>
          <div class="mapping">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]= "zoom">
              <agm-marker [latitude]="latMadrid" [longitude]="lngMadrid"></agm-marker>
              <agm-marker [latitude]="latBarcelona" [longitude]="lngBarcelona"></agm-marker>
              <agm-marker [latitude]="latSantChile" [longitude]="lngSantChile"></agm-marker>
              <agm-marker [latitude]="latBurgos" [longitude]="lngBurgos"></agm-marker>
              <agm-marker [latitude]="latMexicoDF" [longitude]="lngMexicoDF"></agm-marker>
              <agm-marker [latitude]="latcaracas" [longitude]="lngcaracas"></agm-marker>
              <agm-marker [latitude]="latmendoza" [longitude]="lngmendoza"></agm-marker>
              <agm-marker [latitude]="latbaires" [longitude]="lngbaires"></agm-marker>
              <agm-marker [latitude]="latsjose" [longitude]="lngsjose"></agm-marker>
              <agm-marker [latitude]="lattrujilloperu" [longitude]="lngtrujilloperu"></agm-marker>
              <agm-marker [latitude]="latsantiagocom" [longitude]="lngsantiagocom"></agm-marker>
              <agm-marker [latitude]="latmotril" [longitude]="lngmotril"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
  
        </div>
      </div>
    </div>
    
  </section>