body {
   font-family: 'Nunito', serif;
   padding-top: 54px;
   color: #868e96;
 }
 
 img{
   max-width: 50%;
 }

 @media (max-width: 992px){
  .fixed-top{
    display: none;
  }
 } 

 
 @media (min-width: 992px) {
   body {
     padding-top: 0;
     padding-left: 17rem;
   }
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Nunito', serif;
   font-weight: 700;
   text-transform: uppercase;
   color: #343a40;
 }
 
 h1 {
   font-size: 2rem;
   line-height: 5.5rem;
 }
 
 h2 {
   font-size: 3.5rem;
 }
 h4{
    color:white;
 }
 .back{
    color: white;
 }
 .back:hover{
   color: #484848;
   background: #f2f2f2
}
 .subheading {
   text-transform: uppercase;
   font-weight: 500;
   font-family: 'Nunito', serif;
   font-size: 1.35rem;
 }
 
 .list-social-icons a {
   color: #f2f2f2;
 }
 
 .list-social-icons a:hover {
   color: #611c55;
 }
 
 .list-social-icons a .fa-lg {
   font-size: 1.75rem;
 }
 
 .list-icons {
   font-size: 3rem;
 }
 
 .list-icons .list-inline-item i:hover {
   color: #BD5D38;
 }
 
 #sideNav .navbar-nav .nav-item .nav-link {
   font-weight: 600;
   text-transform: uppercase;
 }
 
 @media (min-width: 992px) {
   #sideNav {
     text-align: center;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     width: 17rem;
     height: 100vh;
   }
   #sideNav .navbar-brand {
     display: flex;
     margin: auto auto 0;
     padding: 0.5rem;
   }
   #sideNav .navbar-brand .img-profile {
     max-width: 8rem;
     max-height: 8rem;
     border: 0.5rem solid rgba(255, 255, 255, 0.2);
   }
   #sideNav .navbar-collapse {
     display: flex;
     align-items: flex-start;
     flex-grow: 0;
     width: 100%;
     margin-bottom: auto;
   }
   #sideNav .navbar-collapse .navbar-nav {
     flex-direction: column;
     width: 100%;
   }
   #sideNav .navbar-collapse .navbar-nav .nav-item {
     display: block;
   }
   #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
     display: block;
   }
 }
 
 .rev{
    margin: 3% auto;
 }
 section.resume-section {
   border-bottom: 1px solid #dee2e6;

 }
 
 section.resume-section .resume-item .resume-date {
   min-width: none;
 }
 
 
 .bg-primary {
   background: linear-gradient(to right, rgba(49,35,174,1) 0%, rgba(201,109,215,1) 100%) !important;
   height: 100vh;
 }
 
 .text-primary {
   color: #a53392 !important;
 }
 
 a {
   color: #BD5D38;
 }
 
 a:hover, a:focus, a:active {
   color: #824027;
 }
 .btn-user{
   margin: 0 1em;

 }
 .theme-selector{
   color: #f2f2f2;
   font-weight: 300;
 }
   h3.theme-proposal{
    color:white;
    font-weight: 800;
    font-size: 1.2em;
    text-decoration:underline;
    text-decoration-style: solid 2px white;
    
 }
/* text-area */
.purple-border textarea, .purple-border input  {
   border: 1px solid #ba68c8;
}
                
.shadow-textarea textarea.form-control::placeholder {
   font-weight: 300;
}
.shadow-textarea textarea.form-control {
   padding-left: 0.8rem;
}
  
.resume-content{
  width: 100%;
}
.mb-5{
  margin-bottom: 0.5rem!important;
  padding-left: 0;
}
 /* timer */
.timer-design{
   background: linear-gradient(to right, rgba(49,35,174,1) 0%, rgba(201,109,215,1) 100%);
   height: 10vh;
   width: 200px;
   float: right; 
   padding: 3%;
}
.timer-design h3{
   color: white;
   display: flex;
   justify-content: center;
   text-align: center;
   line-height: -10px;
}
.session-button{
float: right;
}

.pad{
margin-top: 1em;
}
.custom-textarea{

  /* background: linear-gradient(to right, rgb(243, 243, 250) 0%, rgb(246, 234, 248) 100%);*/
  background-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  padding: 5%;
  line-height: 1.5;
}

.paragraph-story{
   margin: 2%;
}

@media (min-width: 992px){
.p-lg-5 {
    padding:  0 3rem 3rem !important;
}
}
