body{
   padding-top: 40px;
   padding-bottom: 40px;
   background: var(--main-background-deg);
   height: 100vh;
}
*{
   font-family: 'Nunito', serif;
}


.navbar-dark .navbar-nav .nav-link{
   border: 1px solid #f2f2f2;
   border-radius: 3px;
}
.navbar-nav a:hover, .nav-link a:hover{
   background-color: #f2f2f2;
   color: #484848;
}

.active, .active2, .active3{
  /* border: 1px solid #fa91f1; */
  outline: 4px solid #fa91f1;
  border-radius: 4px;
}

.btn-block:hover {
   color: #484848;
   background-color: #f2f2f2;
   /* border-color: #204d74; */
}
span{
   font-size:12px;
   color:#f2f2f2;
}
a{
   font-size:12px;
   color:white;
}
button{
   font-size: 14px;
}
input, button, select{
   margin-top: 10px;
}

.submit img{
width: 150px;
display: flex;
margin: 0 auto;
}
::placeholder { color: rgb(163, 11, 168); } 
.form-check label{
font-size:9px;
color: #f8f8f8;
}
input .form-control{
font-size: 9px;
}

.timer-container{
   display: flex;
}
.time-but{
   width: 100%;
   margin: 1em 3%;
   padding: 1em 0;
   
}
.col-12{
  padding-right: 0;
}
.time-start{
  width:100%;
  display: flex;
  justify-content: center;
  padding: 1em 0;

}
header.masthead .intro-text .intro-heading {
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Nunito', sans-serif
}
.writing{
  color:white;
  text-align: center;
}


@media (max-width: 768px){
 body{
    height: 100vh;
   }
  } 
