body{
   padding-top: 3px;
   padding-bottom: 10px;
   background:var(--main-background-deg);
   height: auto;
}
*{
   font-family: 'Nunito', serif;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
   margin-bottom: 10px;
   color: #f2f2f2;
   
}

.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 1.5em;
}

.navbar-dark .navbar-nav .nav-link{
   border: 1px solid #f2f2f2;
   border-radius: 3px;
}
.navbar-nav a:hover, .nav-link a:hover{
   background-color: #f2f2f2;
   color: #484848;
}


.btn-block:hover {
   color: #484848;
   background-color: #f2f2f2;
   border-color: #204d74;
}
span{
   font-size:12px;
   color:#f2f2f2;
}
a{
   font-size:12px;
   color:white;
}
button{
   font-size: 14px;
}

button.btn.btn-lg.btn-block.selection-button.button-2{
  position: relative !important;
  bottom: 0;
}
input, button{
   margin-top: 10px;
}
.active{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 3px solid #f2f2f2 !important;
}
.rand1{
  display: flex;
}
.button-sel{
display: flex;
justify-content: center;
margin: 0 auto;
margin: 1.5em auto;
height: 70px;
}

.square-form{
   border: 0.5px solid rgb(146, 136, 236);
   padding: 2%;
   border-radius: 4px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background: var(--main-background-deg);
}
.submit img{
width: 150px;
display: flex;
margin: 0 auto;
}
.writing{
   color:white;
   text-align: center;
   padding: 20px 0;
 }
img.proposal{
  width: 120px;
}

.propose{
   color:#f2f2f2;
   font-size: 15px;
   width: 100%;
}
.first-columna{
   
   padding: 3%;
}
.pro-headings{
   width: 100%;
}
.prop-img{
  padding: 3% 0;
}
.prop-img img{
  width: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 3px;
}

.proposals-container{
display: flex;
justify-content: center;
margin: 0 auto;

}
.propose-square{
   flex-wrap: wrap;
   width: 100%;
}
.zoom {      
  -webkit-transition: all 0.35s ease-in-out;    
  -moz-transition: all 0.35s ease-in-out;    
  transition: all 0.35s ease-in-out;     
  cursor: -webkit-zoom-in;      
  cursor: -moz-zoom-in;      
  cursor: zoom-in;  
  } 
  
.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}




h2.proposalnumber{
font-size: 22px;
text-align: center;
color: #f2f2f2;

}
.button-2{
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 30px;
}
.wirting{
  padding-top: 0;
}

@media (max-width: 768px){
 body{
    height: 100vh;
   }
  } 
