<section id="beawriter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 imagen">
            <img src="../../assets/img/imagendashboard.png" alt="books-holding-on-hand">
        </div>

        <div class="col-lg-6 texto ">
            <h2 class="section-heading text-center">¿Qué es Become a Writer?</h2>
            <ul>
              <li> Somos una <span class="enfasis">plataforma de escritura creativa </span> para amantes de la literatura.</li>
              <li>Para todos los niveles desde Principiante a PRO.</li>
              <li>Es totalmente gratuito.</li>
              <li>Entrena y desarrolla tu creatividad y destreza para escribir historias de ficción.</li>
              <li>
                  Tus límites serán el tiempo y tu propia imaginación.</li>
            </ul>
          </div>
      </div>
    </div>
  </section>



 



