<section id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">Entrena tus skills para crear historias de ficción</h2>
        <!-- <h3 class="section-subheading text-muted"></h3> -->
        <ul>
          <li>1. Selecciona el tiempo de qué dispones para escribir ( 5 minutos, 15 minutos ó Ilimitado)</li>
          <li>2. Elige la propuesta de escritura que más de motive</li>
          <li>3. Escribe tu relato de ficción</li>
          <li>4. ¡Compártelo con quien lo desees o envíalo a un experto!</li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section>