<section id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">¿Como funciona?</h2>
        <!-- <h3 class="section-subheading text-muted"></h3> -->
        <ul>
          <li>1. Selecciona el tiempo de qué dispones para tu escrito ( 5 minutos, 15 minutos ó Ilimitado)</li>
          <li>2. Acepta la propuesta de escritura</li>
          <li>3. Escribe tu ficción</li>
          <li>4.  Comparte tu relato o envíalo para ser valorado por expertos</li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section>