#howitworks{
   margin-bottom: 5%;
}

.back {
      margin: 3% auto;
      color: blue;
      border: 1px solid rgb(146, 136, 236);
   
   }

.back:hover {
   color: #484848;
   background-color: rgb(146, 136, 236);
   border-color: #204d74;
}
a{
   font-size: 14px;
   font-size:'nunito', serif;
}
