body {
   padding-top: 10px;
   padding-bottom: 40px;
   background: var(--main-background-deg);
   height: 100%;
}

* {
   font-family: 'Nunito', serif;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
   margin-bottom: 10px;
   color: #f2f2f2;
}
.privacy-block{
padding-left: 0;
}
.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
}

.navbar-dark .navbar-nav .nav-link {
   border: 1px solid #f2f2f2;
   border-radius: 3px;
}

.navbar-nav a:hover,
.nav-link a:hover {
   background-color: #f2f2f2;
   color: #484848;
}

.btn-block:hover {
   color: #484848;
   background-color: #f2f2f2;
   border-color: #204d74;
}

span {
   font-size: 12px;
   color: #f2f2f2;
}

a {
   font-size: 12px;
   color: white;
}

button {
   font-size: 14px;
}

input,
button,
select {
   margin-top: 10px;
}

.square-form {
   border: 0.5px solid rgb(146, 136, 236);
   padding: 2%;
   border-radius: 4px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background: var(--main-background-deg);
}

.submit img {
   width: 150px;
   display: flex;
   margin: 0 auto;
}
.yasoy{
   justify-content: center;
   display: flex;
   font-size: 20px;


}
.yasoy-b{
   border:1px solid #f2f2f2;
}
::placeholder {
   color: rgba(163, 11, 168, 0.3);
}

.form-check label {
   font-size: 9px;
   color: #f8f8f8;
}

input .form-control {
   font-size: 9px;
}

.ng-valid {
   border-color: green;
   color: #484848;
}

input.ng-invalid {
   /* border: 2px solid red; */
   border-left: 5px solid #a94442;
}

input.ng-pristine {
   border: none;
}

p.error-forms-styles {
   font-size: 12px;
   color: #f2f2f2;
   margin: 2% 0;
}

@media (max-width: 768px) {
   body {
      height: 100vh;
   }
}